/* Intro to CSS
In CSS we have things called selectors.
What are Selectors?

.example {

} = <element class="example">

example {

}  = <example><example>

#example {

} = id="example"

*/

/* For proper styling ethics, ALWAYS SET YOUR PADDING AND MARGIN TO ZERO WITHIN THE <body> tag 

We have different measurement options in CSS
px - pixels
vh - viewport height
rem - root element font size
% - percentage
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

header {
   /* background-color: rgb(247, 0, 255); */
    width: 100%;
    height: 65px;

}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .right-section {
    width: 250px;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}

header nav .right-section a {
    margin-right: 10px;
    color:black;
}

nav .right-section .menu-icon {
    background-image: url("../img/dots.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .right-section img {
    border-radius: 70%;
    height: 30px;
    width: 35px;
    margin-left: 20px;
}

main {
   /* background-color: brown; */
    margin-top: 40px;
    text-align: center;
}

main .main-logo {
    height: 100px;
    width: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img {
    width: 300px;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

/* styling the input container   */
main .input-container {
width: 525px;
border-radius: 100px;
border: 1px solid rgb(161, 160, 160);
display: flex;
justify-content: center;
align-items: center;
}

main .main-input .input-container input {
    border-radius: 40%;
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
}

/* pseudo class/selector. it is preceded by semicolon */

main .input-container:hover {
    box-shadow: 0 1px 6px rgb(20, 18, 18);
    border-color: beige;
}

main .input-container .search-icon {
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    width:18px;
    height: 18px;
    background-position: center;
    background-size: contain;
    padding-left: 2rem;
    cursor: pointer;
}

main .main-input .microphone-icon {
    background-image: url("../img/mic.png");
    background-repeat: no-repeat;
    width:18px;
    height: 18px;
    background-position: center;
    background-size: contain;
    padding-right: 3rem;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

/* display in-line block to display buttons horizontally */
main .main-buttons div {
    display: inline-block;
} 

main .main-buttons div button {
    height: 36px;
    width: 100%;
    background-color: aliceblue;
    border: none;
    font-size: 14px;
    color: rgb(161, 160, 160);
    border-radius: 5px;
    padding: 0 16px
}

main .main-buttons div button:hover {
    border: 1px solid rgb(161, 160, 160);
    color: black;
}


/* footer */
footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    position: absolute;
    background-color: #f2f2f2;
    border-top: -2rem solid gray;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer ul {
    display: flex;
    margin: 10px;
    list-style-type: none;
    padding-left: 0;
}

footer ul li {
    margin: 10px;
}

footer .footer-left-side {
    justify-self: left;
}

footer .footer-right-side {
    justify-self: right;
}